* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.main {
  background-color: #D8E3FE;
  color: #3D4F9F;
  flex: 1;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: white;
}

.header-position {
  position: sticky;
  top: 0;
}

.menu-burger {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4em;
}
.center {
  text-align: center;
}

.top-padding {
  padding: 60px 0 0 0;
}

.textbox {
  width: 50%;
  margin: auto;
}

h2 {
  padding: 20px;
}

.navlist {
  display: flex;
  list-style-type: none;
}

.navlist > li {
  padding: 20px;
}

.blue-button {
  background-color: #D2E1FF;
  padding: 1em;
  border: none;
  color: #3A79FF;
  font-weight: 700;
  cursor: pointer;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

a:link {
  color: #697CA6;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #3A79FF;
  text-decoration: underline;
}

a:visited {
  color: #3D4F9F;
}